<% provide(:title, "Om") %>
<div class="row">
	<div class="col-md-9 main-content col-md-offset-1 about">
		<h1>Om Litteraturwebben</h1>
		<p>
			Litteraturwebben erbjuder nerladdning av e-böcker. Du måste vara inloggad för att kunna ladda ner e-böcker.
		</p>
		<p>
			Den här applikationen ingår i kursen "Individuellt mjukvaruutvecklingsprojekt" på Linnéuniversitetet.
		</p>
		<%= link_to "Tillbaka", root_url, class: "btn btn-default" %>
	</div>
</div>