<% provide(:title, "Hem") %>

<div class="center jumbotron">
	<h1>Litteraturklassiker på webben</h1>

	<h2>Det här är hemsidan för litteraturwebben.se</h2>

	<%= link_to "Registera dig nu!", '#', class: "btn btn-lg btn-primary" %>
</div>

