<% provide(:title, "Logga in") %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 primary-col">
		<h1>Logga in</h1>
		<%= render 'form' %>
		<p>Ny användare? <%= link_to "Registera dig nu!", signup_path %></p>
	</div>
</div>