<% provide(:title, "Logga in") %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 main-content new-session">
		<h1 class="center">Logga in</h1>
		<%= render 'form' %>
		<p class="top-margin">Ny användare? <%= link_to "Registera dig nu!", signup_path %></p>
	</div>
</div>