<h1>Återställning av lösenord</h1>

<p>Klicka på länken för att återställa ditt lösenord.</p>
<%= link_to "Återställ lösenord", edit_password_reset_url(@user.reset_token,
	email: @user.email) %>

<p>Denna länk blir ogiltig om två timmar.</p>

<p>
Om du inte bad om återställning av lösenord, ignorera detta mail. Ditt lösenord kommer att förbli samma som det har varit.
</p>
