<li>
	<div>
		<h3><%= author.name %></h3>
		<p class="about-text"><%= author.about %></p>
	</div>
	<div class="readmore-div">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<%= link_to " Läs mer", author %>
	</div>
</li>