<% provide(:title, "Våra författare") %>
<h1>Våra författare</h1>
<ul class="authors">
	<%= render @authors %>
</ul>

<% if logged_in? && current_user.admin? %>
	<%= link_to "Lägg till författare", newauthor_path, class: 'new-book-link' %>
<% end %>