<% provide(:title, "Lägg till författare") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 primary-col">
		<h1 class="center">Lägg till författare</h1>
		<div class="form-div">
			<%= render 'form' %>
		</div>
	</div>
</div>