<%# View for showning one book. %>
<% @books.each do |book| %>
	<li>
		<%= link_to(book) do %>
			<%# Display cover pic if there is one. %>
			<% if book.cover? %>
				<%= image_tag book.cover.url %>
			<% else %>
					<div class="default-cover">
						<span class="author-span"><%= book.author %></span>
						<span class="title-span"><%= book.title %></span>
					</div>
			<% end %>
		<% end %>
	</li>
<% end %>
