<%# View for showning one book. %>
<div class="row">
	<% @books.each do |book| %>
		<div class="col-xs-2 col-md-2">
			<%= link_to(book) do %>
				<%# Display cover pic if there is one. %>
				<% if book.cover? %>
					<%= image_tag book.cover.url, class: "thumbnail" %>
				<% else %>
						<div class="default-cover thumbnail">
							<span class="author-span">Författare</span>
							<span class="title-span"><%= book.title %></span>
						</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>
