<% provide(:title, "Redigera bok") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 primary-col">
		<h1>Redigera bok</h1>
		<div class="form-div">
			<%= render 'form' %>
			<%= link_to "Avbryt", :back, class: "btn btn-warning" %>
		</div>
	</div>
</div>
