<% provide(:title, "Redigera bok") %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 main-content">
		<h1>Redigera bok</h1>
		<div class="form-div">
			<%= render 'form' %>
		</div>
	</div>
</div>
