<% provide(:title, 'Alla böcker') %>
<h1>Alla böcker</h1>
<ul class="books">
	<%= render @books %>
</ul>

<% if logged_in? && current_user.admin? %>
	<%= link_to "Lägg till ny bok", newbook_path, class: 'new-book-link' %>
<% end %>