<% provide(:title, "Lägg till bok") %>

<div class="row">
	<div class="col-md-8 col-md-offset-2 primary-col">
		<h1>Lägg till ny bok</h1>
		<div class="form-div">
		 	<%= render 'form' %>
		</div>
	</div>
</div>



