@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$gray-medium-light: #eaeaea;

// Mixin allows a group of Css rules to be packaged up and used for multiple elements.
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box_sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
	color: white;
	text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
	color: $gray;
	&:hover{
		color: $gray-darker;
	};
  }
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}



#error_explanation {
  color: red;
  ul {
	color: red;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
	color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
	margin-left: 20px;
	font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
	overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
  }
}

/* Books index */
.books {
  list-style: none;

  li {
	padding: 10px;
	overflow: auto;
	border-bottom: 1px dotted $gray-medium-light;

	h3 {
	  font-weight: bold;
	}

	img {
	  float: left;
	  margin: 0 15px 0 0;
	}

	p {
	  font: 200 14px/1.5 Georgia, "Times New Roman", serif;
	  width: 80%;
	}
  }
}

.new-book-link {
	padding-left: 40px;
}

/* Books show */
.book-post {
  margin-left: 40px;

  h1 {
	text-align: left;
  }

  .cover-div {
  	padding-right: 0;
  }

}

/* forms */
input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn {
	width: 150px;
}


input {
  height: auto !important;
}

/* miscellaneous */

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert {
  border: 1px dashed black;
  ul {
	padding-left: 20px;
	margin: 0;
  }
  span {
	font-weight: bold;
  }
}