$jumbotron-bg: #C0DEED;

@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$gray-medium-light: #eaeaea;

// Mixin allows a group of Css rules to be packaged up and used for multiple elements.
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box_sizing: border-box;
}

@mixin transition {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

/* universal */

body {
  background-color: #f2f2f2;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.row {

}

.primary-col, .primary-div {
    background-color: white;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 6px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: #fff;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
//   &:hover {
// 	color: white;
// 	text-decoration: none;
//   }
// }

.navbar {
    .container-fluid {
        max-width: 1140px;
    }

    a {
        font-weight: 600;
    }

    .navbar-brand {
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
	color: $gray;
	&:hover{
		color: $gray-darker;
	};
  }
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}



#error_explanation {
  color: red;
  ul {
	color: red;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
	color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
	margin-left: 20px;
	font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* INDEX-PAGES */

.author-show-div, .book-show-div, .user-show-div {
    h1 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 550;
    margin-bottom: 10px;
    font-size: 2.1em;
    color: #d9923b;
    }media

    h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
    color: #d9923b;
    }
}

.index {

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.1em;
        border-bottom: 1px dotted $gray-medium-light;
        text-align: left;
        margin:0 40px 40px 4%;
        color: #d9923b;
    }

    h3, h3 a {
    font-size: 1.3em;
    // text-transform: uppercase;
    font-weight: 600;
    color: #d9923b;
    }

    // For both books-index and authors-index
    .media-list {
        margin: 0 4%;

        li {
            overflow: auto;
            border-bottom: 1px solid $gray-lighter;
            margin-bottom: 30px;

            .media-container {
                margin-bottom: 10px;
                display: inline-block;
            }

            .index-thumb-left {
                float: left;
                margin: 0 20px 20px 0;

                img {
                    max-width: 200px;
                }

                .book-cover {
                    max-width: 160px;
                }
            }

            .index-body {
                display: inline-block;
                float: left;
                max-width: 400px;
            }
        }
    }
}



/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
	overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
  }
}

/* Books index */
.books {
  list-style: none;
  margin-right: 40px;

  li {
	padding: 10px;
	overflow: auto;
	border-bottom: 1px dotted $gray-medium-light;
    position: relative;

	// h3 {
	//   font-weight: 600;
 //      margin-bottom: 5px;

      // a {
      //   color: $gray;
      // }
	// }

	img {
	  float: left;
	  margin: 0 15px 0 0;
	}
  }

  .btn {
    bottom: 10px;
    right: 10px;
    position: absolute;
  }

}

.new-book-link {
    text-align: right;
    margin-right: 4%;
}

.books-authors {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;

  li {
    display: inline;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border: none;
    a {
      color: $gray;
      font-style: italic;
    }
  }

  li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "";
  }
}

.article-form-fields {
    border: 1px dashed $gray;
    padding: 10px 40px;
    margin-top: 10px;
}

.links {
    padding: 20px;
    text-align: right;
}

/* Books show */
.book-post {
  margin-left: 40px;
  background: white;
  padding: 30px;

  h1 {
	text-align: left;
  }

  .cover-div {
  	padding-right: 0;
  }

    .download-field {
        margin-bottom: 10px;
    }

}

.default-cover {
    width: 135px;
    height: 200px;
    float: left;
    margin-right: 20px;
    background-color: #204056;

    .title-span, .author-span {
        text-align: left;
        color: white;
        // letter-spacing: 0.09px;
        font-family: Georgia, "Times New Roman", sans-serif;
        display: block;
        line-height: 14px;
    }

    .title-span {
        font-size: 15px;
        margin: 8px 0 0 15px;
        padding: 0;
    }

    .author-span {
        font-size: 12px;
        margin: 40px 0 0 15px;
        padding: 0;
    }
}

/* Author index */
.authors {
    margin-right: 40px;

    li {
        list-style: none;
        border-bottom: 1px dotted $gray-medium-light;
        padding-bottom: 20px;



        .readmore-div {
            text-align: right;
            // margin-right: 20%;
        }
    }
}

.about-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

/* Author show */



/* FORMS */

/* Search */

.search-form {
    background: $gray-medium-light;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;


    label {
        color: #fff;
    }

    #author-search-input, #book-search-input {
        width: 350px;
        max-width: 99%;
        // @include transition;
        // &:focus {
        //     background-color: #fff8dc;
        //     width: 350px;
        //     @include transition;
        // }
    }

    .btn {
        width: 100px;
        font-weight: 600;

    }

    input {
        height: 30px;
    }
}


// input, textarea, select, .uneditable-input {
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

.form-div {
    width: 80%;
    margin: 0 auto;
}


// input {
//   height: auto !important;
// }


.remove-file {
    input {
        width: 0;
    }

    margin-bottom: 10px;
}

.upload-edit-field {
    border: 1px dashed $gray-darker;
    margin-bottom: 10px;
    padding: 10px;
}

/* Home page */
.latest-books {

    width: 90%;
    margin: 0 auto;

    h2 {
        margin-left: 5%;
    }

    ul {
        width: inherit;
        margin: 0 auto;
    }

    img {
        vertical-align: baseline;
    }

    .default-cover {
        margin: 0;
    }
}

.thumbnail {
    // height: 300px;

    // .caption {
    //     position: absolute;
    //     bottom: 30px;
    // }

    img {
        // max-width: 200px;
        // max-height: 250px;
    }

    h3 {
        // text-align: center;
        // bottom: 60px;
        // position: absolute;
        // font-size: 1.5em;

    }

}

.aside-col {
    @media (max-width: 992px) {
        padding: 0;
        padding-bottom: 10px;
    }
}

.login-div {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;

    @media (max-width: 992px) {
        // border-bottom: 10px dotted $gray-medium-light;
    }
}


/* miscellaneous */

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert {
  border: 1px dashed black;
  ul {
	padding-left: 20px;
	margin: 0;
  }
  span {
	font-weight: bold;
  }
}

