/* My Colors */
$gray-medium-light: #eaeaea;
$my-blue: #0E76BC;
$btn-blue: #0E76BC;
$light-green: #B2F4D4;
$my-orange: #D9923B;
$dark-blue: #204056;
$medium-red: #F64B3F;
$twitter-yellow: #FFB037;
$lighter-blue: #0090D7;

/* BOOTSTRAP VARIABLES */

/* Buttons */
$btn-primary-bg: $btn-blue;

$jumbotron-bg: $light-green;

/* Navbar */
$navbar-default-bg: #1B1B1B;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #0E76BC;
$navbar-default-link-active-color: #0E76BC;
$navbar-default-border: #282828;
$navbar-default-toggle-border-color: #1B1B1B;
$navbar-default-toggle-icon-bar-bg: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

/* MIXIN'S */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box_sizing: border-box;
}

@mixin transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

// From http://www.cssmatic.com.
@mixin gradient {
  background: rgba(89,89,89,1);
  background: -moz-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,89,89,1)),
    color-stop(100%, rgba(27,27,27,1)));
  background: -webkit-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
  background: -o-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
  background: -ms-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
  background: linear-gradient(to bottom, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959',
    endColorstr='#1b1b1b', GradientType=0 );
}

@mixin border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* UNIVERSAL */

body {
  background-color: #f2f2f2;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.clearfix {
  clear: both;
}

.top-margin {
  margin-top: 10px;
  display: block;
}

.main-content, .primary-col {
  background-color: #fff;
  padding: 25px;
  border: 1px solid #E3E3E3;
  margin-bottom: 10px;
  padding-bottom: 50px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h3 {
  font-weight: 600;
  color: $medium-red;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.black {
  color: #333;
}

/* HEADER */

.navbar-header {
  border-bottom: 1px solid #282828;
  width: 100%;

  @media (max-width: $screen-sm-min) {
    border-bottom: none;
  }
}

.navbar-toggle {
  margin-right: 0;
}

.navbar {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  @include gradient;

  .container-fluid {
    max-width: 1200px;
    padding-right: 40px;
  }

  a {
    font-weight: 600;
  }

  .navbar-brand {
    text-transform: uppercase;
    text-decoration: none;
  }
}

/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  a {
    color: $gray;

    &:hover{
      color: $gray-darker;
    }
  }
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#error_explanation {
  color: red;
  ul {
	 color: red;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    border-color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
  	margin-left: 20px;
  	font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* INDEX-PAGES */

/* Author index */
.authors {
  margin-right: 40px;

  li {
    list-style: none;
    border-bottom: 1px dotted $gray-medium-light;
    padding-bottom: 20px;

    .readmore-div {
      text-align: right;
    }
  }
}

.about-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.index {

  h1 {
    border-bottom: 1px dotted $gray-medium-light;
    text-align: left;
    margin:0 40px 40px 4%;
  }

  a {
    color: $my-blue;
    &:hover {
      color: $lighter-blue;
      text-decoration: none;
    }
  }

  h3 {
    margin-top: 0;
    a {
      font-size: 22px;
      font-weight: 600;
    }
  }

  .media-list {
    margin: 0 4%;

    li {
      overflow: auto;
      border-bottom: 1px solid $gray-lighter;
      margin-bottom: 30px;

      .media-container {
        margin-bottom: 10px;
        display: inline-block;
      }

      .index-thumb-left {
        float: left;
        margin: 0 20px 20px 0;

        img, .book-cover {
          max-width: 120px;
        }

        .default-cover {
          max-width: 120px;
          max-height: 200px;
        }
      }

      .index-body {
        display: inline-block;
        float: left;
        max-width: 400px;
      }
    }
  }
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
  	overflow: auto;
  	padding: 10px 0;
  	border-bottom: 1px solid $gray-lighter;
  }
}

.new-book-link, .new-author-link {
  padding: 10px;
  padding-left: 20px;
  @include border-radius;
  background-color: $light-green;
  margin-bottom: 20px;
}

.books-authors {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;

  li {
    display: inline;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border: none;

    a {
      color: $gray;
      font-style: italic;
    }
  }
  // To seperate if there is more than one author.
  li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "";
  }
}

.article-form-fields {
  input {
    margin-left: 60px;
  }
}

.links {
  padding: 20px;
  text-align: right;
}

.pagination-row {
  text-align: center;
}

/* SHOW PAGES */

.show-row {
  @media (max-width: $screen-sm-min) {
    .col-md-9 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.e-book-login, .e-book {
  background-color: $light-green;
  padding: 8px;
  @include border-radius;

  .download-field {
    margin-top: 5px;
  }
}

.edit-book-link {
  margin: 20px 0;
  display: block;
}

.small-screen-h1 {
  display: none;
}

.show-container {
  .regular-screen-h1 {
    // text-align: left;
    margin-top: 0;
    // font-size: 2.1em;
  }

  .show-pic-left {
    float: left;
    margin: 0 2.5% 2.5% 0;
    display: block;
    max-width: 25%;

    img {
      width: 100%;
    }

    .aside-info {
      margin: 10px 0 0 20px;
      display: block;
    }
  }

  .show-content {

    float: left;
    max-width: 72%;
    display: inline-block;

    .book-author-list {
      list-style: none;
      margin-bottom: 10px;
      padding: 0;
      display: inline;

      li {
        display: inline;
        padding: 0;
        margin: 0;
        border: none;
      }

      li:after {
        content: ", ";
      }

      li:last-child:after {
        content: "";
      }
    }
  }

  .book-show-content {

    .regular-screen-h1 {
      //color: $medium-red;
    }

    h4 {
      color: $medium-red;
      font-weight: 600;
    }
  }

  @media (max-width: $screen-sm-min) {

    .small-screen-h1 {
      display: inline;
      font-size: 29px;
    }

    // Only shows if small screen.
    .regular-screen-h1 {
      display: none;
    }

    .show-pic-left {
      width: 100%;
      float: none;
      max-width: 220px;
      margin-top: 20px;
      display: block;

      img {
        max-width: 100%;
      }

      .aside-info {
        margin: 0;
        margin-top: 20px;
      }
    }

    .show-content {
      max-width: 100%;
      float: none;

      p {
        font-size: 1.1em;
      }

      .regular-screen-header {
        display: none;
      }
    }
  }
}

.admin-field {
  border-top: 1px solid $gray-lighter;
}

.articles, .titles {
  padding-left: 50px;

  @media (max-width: $screen-sm-min) {
    padding: 10px 10px 50px 10px;

    h3 {
      font-size: 20px;
    }

    .new_article {
      padding: 0 10px;
    }
  }
}

.default-cover {
  width: 160px;
  height: 230px;
  float: left;
  margin-right: 20px;
  background-color: #204056;

  .title-span, .author-span {
    text-align: left;
    color: white;
    font-family: Georgia, "Times New Roman", sans-serif;
    display: block;
    line-height: 14px;
  }

  .title-span {
    font-size: 15px;
    margin: 8px 0 0 15px;
    padding: 0;
  }

  .author-span {
    font-size: 12px;
    margin: 40px 0 0 15px;
    padding: 0;
  }
}

/* Author show */
.list-group {

  li:last-child {
    display: none;
  }
}

/* FORMS */

.new-session {
  .btn {
    width: 150px;
  }
}

/* Search */

.search-form {
  background: $gray-medium-light;
  padding: 20px;
  @include border-radius;
  margin-bottom: 20px;

  .form-control-feedback {
    //width: 10px;
    cursor: pointer;
    line-height: 30px;
  }

  label {
    color: #fff;
  }

  #author-search-input, #book-search-input {
    width: 450px;
    max-width: 99%;
  }

  .btn {
    width: 100px;
    font-weight: 600;
  }

  input {
    height: 30px;
  }

  @media (max-width: $screen-md-min) {
    .form-control-feedback {
      display: none;
    }
  }
}


input, textarea, select, .uneditable-input {
  @include box_sizing;
}

#author_about, #book_about {
  height: 150px;
}

.form-div {
  width: 80%;
  margin: 0 auto;

  .btn {
    float: right;
  }
}

.remove-file {
  margin-bottom: 10px;

  input {
    width: 0;
  }
}

.upload-edit-field {
  border: 1px dashed $gray-darker;
  margin-bottom: 10px;
  padding: 10px;
}

.small-thumb {
  width: 10%;
}

.button-group {
  .btn {
    width: 44%;
    margin: 10px 2.5%;
    float: none;

    @media (max-width: $screen-md-min) {
      width: 100%;
      margin: 10px 0;
    }
  }
}

/* Article form */
.article-form {
  margin-top: 30px;
  padding: 0 100px 50px 50px;

  h3 {
    font-weight: 600;
    color: $medium-red;
  }

  .btn {
    float: right;
    background: $my-blue;
  }

  @media (max-width: $screen-md-min) {
    padding: 0;
    padding-bottom: 50px;
  }
}

/* Form for author inside of book form */

.authorship-fields {
  select {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .new-author-fields {
    padding: 20px;
  }

  .remove-author {
    background: #F2DEDE;
    float: right;
  }

  .form {
    margin-bottom: 10px;
    padding: 10px 0;
  }
}

.checkbox-group {
  margin-top: 10px;

  label {
    margin-left: 10px;
  }
}

/* HOME PAGE */

.latest-books-home {
  padding-top: 20px;
  padding-left: 6%;

  h2 {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    margin-left: 14px;
    margin-right: 62px;

    @media (max-width: $screen-sm-min) {
      margin: 0;
    }
  }
}

.books {

  @media (max-width: $screen-sm-min) {
    min-width: 390px;
    text-align: center;
    .book {
      margin-bottom: 20px;

      .caption {
        text-align: left;
      }
    }
  }

  .book {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 295px;
    width: 170px;
    padding: 10px;
    &:hover {
      text-decoration: none;
    }

    .caption {
      display: block;
      overflow: hidden;


      h3, h4 {
        margin-top: 3px;
        overflow: hidden;
        line-height: 1.2;
        max-height: 2.6em;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      h3 {
        font-weight: 600;
        font-size: 1.05em;
        color: $my-blue;

        &:hover {
          text-decoration: underline;
        }
      }

      h4 {
        font-size: 1em;
        color: black;
      }
    }

    .cover-div {
      width: 150px;
      height: 240px;

      @media (max-width: $screen-sm-min) {
        max-width: 180px;
        max-height: 270px;
      }

      img, .default-cover {
        width: 100%;
        max-height: 100%;
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    padding: 0;
  }
}


.aside-col {
  @media (max-width: 992px) {
    padding: 0;
    padding-bottom: 10px;
  }
}

.login-div {
  background-color: #fff;
  padding: 20px 20px 50px 20px;
  border: 1px solid #E3E3E3;

  .remember-me, span, a {
    font-weight: normal;
    font-size: 12px;
  }

  @media (max-width: 992px) {
    .btn {
      margin-left: 0;
      width: 40%;
    }
  }
}

.logged-in {

  a {
    font-size: 14px;
    font-weight: bold;
  }

  .btn {
    margin: 5px 10px 0 0;
  }
}

/* STATIC PAGES */

.about {
  padding: 40px 50px 50px 50px;

  h1 {
    text-align: left;
  }
}


/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert {
  ul {
  	padding-left: 20px;
  	margin: 0;
  }

  span {
	 font-weight: bold;
  }
}

.btn {
  font-size: 14px;
  font-weight: bold;
}