$jumbotron-bg: #C0DEED;

/* Navbar */
$navbar-default-bg: #1B1B1B;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #0E76BC;
$navbar-default-link-active-color: #0E76BC;
$navbar-default-border: #282828;
$navbar-default-toggle-border-color: #1B1B1B;
$navbar-default-toggle-icon-bar-bg: #fff;


@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$gray-medium-light: #eaeaea;
$my-blue: #0E76BC;

// Mixin allows a group of Css rules to be packaged up and used for multiple elements.
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box_sizing: border-box;
}

@mixin transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@mixin gradient {
    background: rgba(89,89,89,1);
    background: -moz-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,89,89,1)),
        color-stop(100%, rgba(27,27,27,1)));
    background: -webkit-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
    background: -o-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
    background: -ms-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom, rgba(89,89,89,1) 0%, rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959',
        endColorstr='#1b1b1b', GradientType=0 );
}

/* universal */

body {
  background-color: #f2f2f2;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.row {

}

.clearfix {
    clear: both;
}

.primary-col, .primary-div {
    background-color: white;
    padding-bottom: 30px;
    padding-top: 30px;
    border: 1px solid #E3E3E3;
    // border-radius: 6px;
}

.main-content {
    background-color: #fff;
    // border-radius: 6px;
    padding: 25px;
    border: 1px solid #E3E3E3;
    margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: #fff;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
//   &:hover {
// 	color: white;
// 	text-decoration: none;
//   }
// }

/* Navbar */

.navbar-header {
    border-bottom: 1px solid #282828;
    width: 100%;
}

.navbar {

    //background-color: #1B1B1B;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    @include gradient;




    .container-fluid {
        max-width: 1200px;
    }

    a {
        font-weight: 600;
    }

    .navbar-brand {
        // font-size: 1.7em;
        // color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
	color: $gray;
	&:hover{
		color: $gray-darker;
	};
  }
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}



#error_explanation {
  color: red;
  ul {
	color: red;
  }
}

.field_with_errors {
    @extend .has-error;
        .form-control {
            border-color: red;
        }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
	margin-left: 20px;
	font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* INDEX-PAGES */

.author-show-div, .book-show-div, .user-show-div {
    h1 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 550;
    margin-bottom: 10px;
    font-size: 2.1em;
    color: #d9923b;
    }media

    h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
    color: #d9923b;
    }
}

.index {

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.1em;
        border-bottom: 1px dotted $gray-medium-light;
        text-align: left;
        margin:0 40px 40px 4%;
        color: #d9923b;
    }

    h3, h3 a {
    font-size: 1.3em;
    // text-transform: uppercase;
    font-weight: 600;
    color: #d9923b;
    }

    // For both books-index and authors-index
    .media-list {
        margin: 0 4%;

        li {
            overflow: auto;
            border-bottom: 1px solid $gray-lighter;
            margin-bottom: 30px;

            .media-container {
                margin-bottom: 10px;
                display: inline-block;
            }

            .index-thumb-left {
                float: left;
                margin: 0 20px 20px 0;

                img {
                    max-width: 200px;
                }

                .book-cover {
                    max-width: 160px;
                }
            }

            .index-body {
                display: inline-block;
                float: left;
                max-width: 400px;
            }
        }
    }
}



/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
	overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
  }
}

/* Books index */
// .bookssss {
//   list-style: none;
//   margin-right: 40px;

//   li {
// 	padding: 10px;
// 	overflow: auto;
// 	border-bottom: 1px dotted $gray-medium-light;
//     position: relative;

// 	// h3 {
// 	//   font-weight: 600;
//  //      margin-bottom: 5px;

//       // a {
//       //   color: $gray;
//       // }
// 	// }

// 	img {
// 	  float: left;
// 	  margin: 0 15px 0 0;
// 	}
//   }

//   .btn {
//     bottom: 10px;
//     right: 10px;
//     position: absolute;
//   }

// }

.new-book-link {
    text-align: right;
    margin-right: 4%;
}

.books-authors {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;

  li {
    display: inline;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border: none;
    a {
      color: $gray;
      font-style: italic;
    }
  }

  li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "";
  }
}

.article-form-fields {
    // padding: 10px 40px;
    // margin-top: 10px;

    input {
      margin-left: 60px;
    }
}

.links {
    padding: 20px;
    text-align: right;
}

.pagination-row {
    text-align: center;
}

/* SHOW PAGES*/
.show-container {
    // margin: 0 4%;
    //display: inline-block;
    margin-bottom: 5px;

    h1 {
        text-align: left;
        margin-top: 0;
        font-size: 2.3em;
    }

    .show-pic-left {
        float: left;
        margin: 0 2.5% 2.5% 0;
        display: block;
        max-width: 30%;
        img {
            width: 100%;
        }
    }

    .show-content {
        float: left;
        max-width: 100%;
        display: inline-block;
    }

    @media (max-width: $screen-sm-min) {

        .show-pic-left {
            width: 100%;
            float: none;
            max-width: 280px;
        }

        .show-content {
            max-width: 100%;
            float: none;

            p {
                font-size: 1.2em;
            }

            h3, h1 {
                margin-left: 5%;
            }
        }
    }
}

/* Displays authors books in author show view and home page */
.author-titles {
    margin-top: 10px;
    text-align: center;
}

.book-post {
  margin-left: 40px;
  background: white;
  padding: 30px;

  h1 {
	text-align: left;
  }


    .download-field {
        margin-bottom: 10px;
    }

}

.default-cover {
    width: 160px;
    height: 230px;
    float: left;
    margin-right: 20px;
    background-color: #204056;

    @media (max-width: $screen-sm-min) {
        width: 200px;
        height: 270px;
    }

    .title-span, .author-span {
        text-align: left;
        color: white;
        // letter-spacing: 0.09px;
        font-family: Georgia, "Times New Roman", sans-serif;
        display: block;
        line-height: 14px;
    }

    .title-span {
        font-size: 15px;
        margin: 8px 0 0 15px;
        padding: 0;
    }

    .author-span {
        font-size: 12px;
        margin: 40px 0 0 15px;
        padding: 0;
    }
}

/* Author index */
.authors {
    margin-right: 40px;

    li {
        list-style: none;
        border-bottom: 1px dotted $gray-medium-light;
        padding-bottom: 20px;



        .readmore-div {
            text-align: right;
            // margin-right: 20%;
        }
    }
}

.about-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

/* Author show */
.list-group {
  li:last-child {
    display: none;
  }

}


/* FORMS */

/* Search */

.search-form {
    background: $gray-medium-light;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;


    label {
        color: #fff;
    }

    #author-search-input, #book-search-input {
        width: 350px;
        max-width: 99%;
        // @include transition;
        // &:focus {
        //     background-color: #fff8dc;
        //     width: 350px;
        //     @include transition;
        // }
    }

    .btn {
        width: 100px;
        font-weight: 600;

    }

    input {
        height: 30px;
    }
}


// input, textarea, select, .uneditable-input {
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

.form-div {
    width: 80%;
    margin: 0 auto;
}


// input {
//   height: auto !important;
// }


.remove-file {
    input {
        width: 0;
    }

    margin-bottom: 10px;
}

.upload-edit-field {
    border: 1px dashed $gray-darker;
    margin-bottom: 10px;
    padding: 10px;
}

.small-thumb {
    width: 10%;
}

/* Article form */
.article-form {

  width: 600px;

  h3 {
    margin-left: 94px;
    font-weight: 600;
    color: #0E76BC;
  }

  .form-group {
    text-align: right;
  }

  .form-control {
    width: 400px;
    // margin-right: 80px;
    margin-left: 30px;
  }

  label {

  }

  .btn {
    margin-left: 494px;
    background: #0E76BC;
  }
}
// Form for author inside of book form.
.authorship-fields {

    select {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .new-author-fields {
        // border: 1px dotted $gray-medium-light;
        padding: 20px;
    }

    .remove-author {
        background: #F2DEDE;
        float: right;
    }

    .form {
        margin-bottom: 10px;
        #border-bottom: 1px dotted $gray-medium-light;
        #border-top: 1px dotted $gray-medium-light;
        padding: 10px 0;
    }
}

/* Home page */
.latest-content {
    display: inline-block;
    padding-left: 6%;
}

.books {

    .book {
        //float: left;
        display: inline-block;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 20px;
        height: 295px;
        width: 170px;
        // display: inline-block;
        padding: 10px;
        // background-color: #ccc;
        vertical-align: top;
        // border-radius: 4px;
        //margin: 0 20px;


        .caption {
            display: block;

            font-weight: 600;

            h3, h4 {
                margin-top: 3px;
                overflow: hidden;
                line-height: 1.2;
                max-height: 2.6em;
                text-overflow: ellipsis;
            }

            h3 {
                font-weight: 600;
                font-size: 1.05em;
                color: $my-blue;

                &:hover {
                    text-decoration: underline;
                }
            }

            h4 {
                font-size: 1em;
                color: black;
            }
        }
        .cover-div {

            width: 150px;
            height: 240px;

            img, .default-cover {
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (max-width: $screen-sm-min) {
        padding: 0;
        //text-align: center;

        // .book {
        //     width: 220px;
        // }

        // .cover-div {
        //     width: 200px;
        //     height: 260px;
        // }
    }
}


.aside-col {
    @media (max-width: 992px) {
        padding: 0;
        padding-bottom: 10px;
    }
}

.login-div {
    background-color: #fff;
    padding: 20px;
    // border-radius: 6px;
    border: 1px solid #E3E3E3;

    span {
      font-weight: normal;
      font-size: 14px;
    }

    .btn {
      // margin-bottom: 20px;
      // margin-left: 140px;
    }

    @media (max-width: 992px) {
      .btn {
        margin-left: 0;
        width: 40%;
      }
    }
}


/* miscellaneous */

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert {
  border: 1px dashed black;
  ul {
	padding-left: 20px;
	margin: 0;
  }
  span {
	font-weight: bold;
  }
}

.glyphicon, .article-form-link {
    //@include transition;
}

