@mixin transition {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.books, .slider {
    position: relative;
    // border: 1px solid black;
    height: 300px;
    overflow: hidden;

    .track {
        position: absolute;
        top: 10px;
        left: 10px;

        margin: 0;
        padding: 0;
        border: 0;

        width: 2000px;
    }

    // display: inline-block;
    // margin: 0 auto;
    // overflow-x: auto;
    // white-space: nowrap;
    .book {
        float: left;
        margin: 0;
        margin-right: 10px;
        padding: 0;
        border: 0;
        height: 280px;
        display: inline-block;
        padding: 10px;
        background-color: #ccc;
        vertical-align: top;
        border-radius: 4px;
        //margin: 0 20px;

        .caption {
            display: block;
            text-align: center;
        }

        .cover-div {

            width: 150px;
            height: 240px;

            img, .default-cover {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .left, .right {
        @include transition;
        position: absolute;
        color: #fff;
        font-size: 48px;
        background-color: #D9923B;
        height: 100%;

        cursor: pointer;
        z-index: 1;
        opacity: 0.5;

        &:hover {
            opacity: 0.9;
        }
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }
}